/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}


main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}
/* Font setup */
body {
  font-family: 'Merriweather', serif;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

/* Text styling */
h1 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0;
  letter-spacing: 0.5px;
}

p {
  line-height: 1.6;
  letter-spacing: 0.3px;
}

section h2 + p {
  text-indent: 2rem;
}

/* Add links */
a:link {
  color: #aa6666;
  text-decoration: underline;
}

a:visited {
  color: #884444;
}

a:hover,
a:focus {
  color: #aa6666;
  text-decoration: none;
  outline: none;
}

a[href^="http"]::after {
  content: url('external-link-52.png');
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

/* List styles */
ul, ol {
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul li {
  list-style-type: square;
}

/* Navigation styles */
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: #aa6666;
  color: white;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

nav a:hover,
nav a:focus {
  background-color: #884444;
  outline: none;
}
